*{
    font-family: 'Roboto', sans-serif;
}

body {
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hidden {
    display: none;
}

.collapse{
    justify-content: flex-end;
}
.container-register{
    display: flex;
    margin: 50px auto;
    width: 50%;
    background-color: rgb(238, 235, 231);
    border-radius: 10px;
    padding: 20px;
}

/************ Navbar ***********/

.navbar{
  background-color: rgb(181, 198, 235);
  background-color: transparent;
  border-bottom: 1px solid black ;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn.btn-outline-primary {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    border: 0;
}

.btn.btn-outline-primary:hover {
    background-color: lightgray;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}

.error-message{
    width: 350px;
    margin: 5px auto;
}
.contaner-login{
    display: flex;
    margin: 50px auto;
    width: 50%;
}
.title_login, .title-options, .title_craft, .title-account{
    text-align: center;
}
.btn-nav{
    background-color: rgb(88, 88, 228);
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container-principal{
    display: flex;
    flex-direction: row;
}
.container-account{
    width: 50%;
    margin: 2%;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #333;
    text-decoration: underline;
}


/************ Order *************/

.container-orders{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;


}
.orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
.container-orders label, input{
    text-align: center;
    margin: 7px;
}
hr{
    color: gray;
}

/************* Craft ************/

.container-craft{
    width: 100%;
    height: 100vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-craft-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
}

.row.form_craft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.col-md-12.craft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form_group_craft {
    margin: 5px 15px;
}

.form-label {
    font-size: 20px;
    font-weight: bold;
}

select {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    color: #654ea3;
    
}

.btn-primary.craft {
    background-color: #654ea3;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    transition: 0.3s all ease;
}

.btn-primary.craft:hover {
    background-color: #eaafc8;
}

.area-check{
    width: 400px;
    height: 350px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
.area-check label,input{
    padding: 5px;
    text-align: center;
}
.container-order{
    width: 370px;
    margin: 2%;
}

span{
    font-weight: bold;
    margin: 10px;
}

.card-img-top{
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
}

.card-order{
    width: 400px;
    height: 300px;
    border-radius: 15px;
    border-style: solid;
    border-color: gray;

}
.img-order{
    display: flex;
}
.container-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/***************** Home *****************/

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

/************ Toppings ************/

.container_toppings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.form-toppings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 'fit-content';
    height: 'fit-content';
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
}

.btn-primary-topping {
    background-color: #654ea3;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    transition: 0.3s all ease;
}

.btn-primary-topping:hover {
    background-color: #eaafc8;
}