{% extends 'components/Layout.html' %}
{% block content %}
{% include 'components/Navbar.html' %}
    <main class="container-craft">
        <div class="container-craft-form">
            <h1 class="title_craft">CRAFT-A-PIZZA</h1>
            {% with messages = get_flashed_messages(category_filter=['login'])%}
            <form action="/order" method="POST" class="row form_craft g-5" >
                <input type="hidden" value={{session.user_id}} name="userSession">
                <div class="col-md-12 craft">
                    <div class="form_group_craft">
                        <label for="method" class="form-label">Method:</label>
                        <select name="method" required class="form-select">
                            <option selected disabled>Choose...</option>
                            <option>CarryOut</option>
                        </select>
                    </div>
                    <div class="form_group_craft">
                        <label for="size" class="form-label">Size:</label>
                        <select name="size" required class="form-select">
                            <option selected disabled>Choose...</option>
                            <option>Large</option>
                            <option>Medium</option>
                            <option>Small</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 craft">
                    <div class="form_group_craft">
                        <label for="crust" class="form-label">Crust:</label>
                        <select name="crust" required class="form-select">
                            <option selected disabled>Choose...</option>
                            <option>Thin Crust</option>
                            <option>Thick Crust</option>
                        </select>
                    </div>
                    <div class="form_group_craft">
                    <label for="QTY" class="form-label">QTY:</label>
                    <select name="QTY" required class="form-select">
                        <option selected disabled>Choose...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-12 craft">
                    <div class="form-group-toppings">
                            <label>Toppings:</label>
                            <div class="form-check">
                                {% for one_topping in all_topping %}
                                <div>
                                    <input class="form-check-input" type="checkbox" name="toppings" id="{{ one_topping.id}}" value="{{ one_topping.id }}">
                                    <label class="form-check-label" for="{{ one_topping.id }}">
                                    {{ one_topping.toppings }} 
                                    </label>
                                <div>
                                {% endfor %}
                            </div>
                    </div>
                </div>
                <br>
                <div class="col-md-12 craft">
                    <button type="submit" class="btn btn-primary craft">Create Order</button>
                </div>
                </form>
            {% endwith %} 
        </div>
    </main>
{% endblock %}