{% extends 'components/Layout.html' %}
{% block content %}
{% include 'components/AdminNavbar.html'%}

<main class="container_dashboard">
<h1>Hola!</h1>

    <div class="table_container-dashboard">
        <table class="table table-striped">
            <tr>
                <th scope="col">Q de órdenes</th>
                <th scope="col">Q de órdenes completadas</th>
                <th scope="col">Q de órdenes pendientes</th>
                <th scope="col">Q de órdenes canceladas</th>
                <th scope="col">Ventas Totales</th>
                <th scope="col">Costos Totales</th>
                <th scope="col">Ganancias Totales</th>
            </tr>
            <tr>
                <td scope="row">{{all_orders.get("cantidad")}}</td>
                <td>{{all_orders.get("completadas")}}</td>
                <td>{{all_orders.get("pendientes")}}</td>
                <td>{{all_orders.get("canceladas")}}</td>
                <td>{{all_orders.get("ventas")}}</td>
                <td>{{all_orders.get("costos")}}</td>
                <td>{{all_orders.get("ganacia")}}</td>

            </tr>
        </table>
    </div>
</main>
{% endblock %}