{% extends 'components/Layout.html' %}
{% block content %}
{% include 'components/AdminNavbar.html'%}

<main class="">
    <form action="/update_toppings/{{topping.id}}" method="post" class="form-toppings">
        <h1 for="toppings">Edit {{topping.toppings}} </h1>
        <input type="hidden" name="topping_id" value="{{topping.topppigns_id}}">
        <div class="form-toppings-input">
            <input type="text" class="form-control" id="toppings" name="toppings" placeholder="Enter Toppings">
        </div>
        <div class="form-toppings-input">
            <input type="text" class="form-control" id="url" name="url" placeholder="Enter url from Lider.cl">
        </div>
        <button type="submit" class="btn btn-primary-topping">Edit</button>
        <a href="www.lider.cl">ir a lider.cl</a>
    </form>
</main>    

{% endblock %}