{% extends 'components/Layout.html' %}
{% block content %}
{% include 'components/AdminNavbar.html'%}

<main class="container-edit-topping">
    <form action="/update_toppings/{{topping.id}}" method="post" class="form-toppings">
            <h1 for="toppings">Edit {{topping.toppings}} </h1>
            <div class="form-toppings-input">
                <input type="text" class="form-control" id="toppings" name="toppings" placeholder="Enter Toppings">
            </div>
            <div class="form-toppings-input">
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter url from veggo.cl">
            </div>
            <div class="form-toppings-input">
                <input type="text" class="form-control" id="medida" name="medida" placeholder="Meassure 0.3">
            </div>
            <button type="submit" class="btn btn-primary-topping">Submit</button>
            <a href="http://www.veggo.cl" target="_blank">ir a veggo.cl</a>
    </form>
</main>    

{% endblock %}