{% extends 'components/Layout.html' %}
{% block content %}
{% include 'components/AdminNavbar.html'%}

<div id="progress-bar"></div>
<main class="container_orders">
    <div class="link">
        <a href="/update/prices">Update Cost</a>
    </div>
    <div class="table_container">
        <table class="table table-striped">
                <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Date</th>
                <th scope="col">Costo total</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Ganancia</th>
                <th scope="col">Estado</th>
                <th scope="col">Marcar compo completado</th>
                <th scope="col">Cancel</th>
            </tr>
            {% for list_order in all_orders %}
            <tr>
                <td scope="row">{{list_order.get("order_id")}}</td>
                <td>{{list_order.get("created_at")}}</td>
                <td>{{list_order.get("costoTotal") or 0}}</td>
                <td>{{list_order.get("precio")}}</td>
                <td>{{ list_order.get("ganacia") }}</td>
                <td>{{list_order.get("estado") or list_order.get("precio")}}</td>
                <td><a href="/complete/{{list_order.get("order_id")}}">Completar Orden</a></td>
                <td><a href="/cancel/{{list_order.get("order_id")}}">Cancel</a></td>
            </tr>
            {% endfor %}
        </table>
</div>
</main>

{% endblock %}