{% extends 'components/Layout.html' %}
{% block content %}
{% include 'components/AdminNavbar.html'%}


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flashes">
    {% for message in messages %}
    <strong>{{ message }}</strong>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<main class="container_toppings">
    <div class="container_toppings_table">
        <div class="link">
            <a href="/update/prices">Update Cost</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Topping Id</th>
                    <th scope="col">Topping</th>
                    <th scope="col">Url</th>
                    <th scope="col">Cost by Kg.</th>
                    <th scope="col">Meassure</th>
                    <th scope="col">Cost by unit in usd</th>
                    <th scope="col">Action</th>
                </tr>
        </thead>
            {% for list_topping in dataToppings %}
            <tr>
                <td scope="row">{{list_topping.get("id")}}</td>
                <td>{{list_topping.get("toppings")}}</td>
                <td>{{list_topping.get("url")}}</td>
                <td>{{list_topping.get("cost")}}</td>
                <td>{{list_topping.get("medida")}}</td>
                <td>{{( list_topping.get("cost") * list_topping.get("medida"))}}</td>
                <td><a href="/edit/{{list_topping.get("id")}}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container_toppings_form">
        <form action="/create_topping" method="post" class="form-toppings">
            <h1 for="toppings">Toppings</h1>
            <div class="form-toppings-input">
                <input type="text" class="form-control" id="toppings" name="toppings" placeholder="Enter Toppings">
            </div>
            <div class="form-toppings-input">
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter url from veggo.cl">
            </div>
            <div class="form-toppings-input">
                <input type="text" class="form-control" id="medida" name="medida" placeholder="Meassure 0.3">
            </div>
            <button type="submit" class="btn btn-primary-topping">Submit</button>
            <a href="https://www.veggo.cl" target="_blank">ir a veggo.cl</a>
        </form> 
    </div>
</main>

{% endblock %}